    @using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
     
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENU</li>
            @{ if (User.IsInRole("admin"))
        {
            <li class="@Url.IsLinkActive("Index", "Home")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>Home</span></a>
            </li>
            <li class="@Url.IsLinkActive("ViewUsers", "Home")">
                <a href="@Url.Action("ViewUsers", "Home")"><i class="fa fa-link"></i> <span>View Users</span></a>
            </li>
            <li class="@Url.IsLinkActive("Register", "Home")">
                <a href="@Url.Action("Register", "Home")"><i class="fa fa-link"></i> <span>Register User</span></a>
            </li>
            <li class="@Url.IsLinkActive("Attendance", "Home")">
                <a href="@Url.Action("Attendance", "Home")"><i class="fa fa-link"></i> <span>View Attedance</span></a>
            </li>
}
else
{
        <li class="@Url.IsLinkActive("Index", "User")">
            <a href="@Url.Action("Index", "User")"><i class="fa fa-link"></i> <span>Home</span></a>
        </li>

        <li class="@Url.IsLinkActive("Myattendance", "User")">
            <a href="@Url.Action("Myattendance", "User")"><i class="fa fa-link"></i> <span>My Attendance</span></a>
        </li>

        <li class="@Url.IsLinkActive("Viewprofile", "User")">
            <a href="@Url.Action("Viewprofile", "User")"><i class="fa fa-link"></i> <span>My Profile</span></a>
        </li>
}
            }



        </ul>
        @* END Menu *@
    </section>
</aside>